---
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
import Button from "../../../components/ui/Button.astro";
import FeaturesTabs from "../../../components/react/FeaturesTabs";
import { Image } from "astro:assets";
import "../../_index.css";
import Subscribe from "../../../components/Subscribe.astro";
import Switcher from "../../../components/Switcher.astro";
import PriceCardsData from "../../../components/react/PriceCards";
import EvaluatePriceTabs from "../../../components/react/EvaluatePriceTabs";
import ResourcesTabs from "../../../components/react/resources/ResourcesTabs";
import FAQ from "../../../components/react/FAQ";
import { m } from "../../../paraglide/messages.js";
import FeaturedPost from "../../../components/react/resources/FeaturedPost";
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    const cards = document.querySelectorAll(".animate-appear");
    cards.forEach((card) => observer.observe(card));
  });
</script>

<script>
  function handlePriceChange(event: CustomEvent) {
    const monthlyPrices = document.querySelectorAll(".monthly-price");
    const annualPrices = document.querySelectorAll(".annual-price");
    const yearlyPriceContainer = document.querySelectorAll(".yearly-price");
    const freeTierContainer = document.querySelectorAll(".free-tier");

    if (event.detail.period === "annual") {
      monthlyPrices.forEach((price) => price.classList.add("hidden"));
      annualPrices.forEach((price) => price.classList.remove("hidden"));
      yearlyPriceContainer.forEach((price) => price.classList.remove("hidden"));
      freeTierContainer.forEach((container) =>
        container.classList.remove("mb-[44px]")
      );
      freeTierContainer.forEach((container) =>
        container.classList.add("mb-[120px]")
      );
    } else {
      monthlyPrices.forEach((price) => price.classList.remove("hidden"));
      annualPrices.forEach((price) => price.classList.add("hidden"));
      yearlyPriceContainer.forEach((price) => price.classList.add("hidden"));
      freeTierContainer.forEach((container) =>
        container.classList.remove("mb-[120px]")
      );
      freeTierContainer.forEach((container) =>
        container.classList.add("mb-[44px]")
      );
    }
  }

  document.addEventListener(
    "pricingPeriodChange",
    handlePriceChange as EventListener
  );
</script>

<Layout title="Resources - iON">
  <Navbar />
  <main class="relative">
    <section class="mt-40 pb-32 px-4 lg:px-12">
      <div class="flex items-center justify-center w-full">
        <FeaturedPost client:load />
      </div>
    </section>
    <section class="pb-32 px-4 lg:px-12">
      <ResourcesTabs client:load />
    </section>

    <section class="pb-32 px-4 lg:px-12">
      <div class="flex flex-col items-center justify-center w-full gap-12">
        <span class="text-[62px] text-[#EE7380] font-semibold text-center lg:text-left">
          {m["resources.faq.title"]()}
        </span>
        <FAQ client:load />
      </div>
    </section>

    <Subscribe />
  </main>
  <Footer />
</Layout>
