---
import Layout from "../layouts/Layout.astro";
import { m } from "../paraglide/messages.js";
import Explore from "../components/features/Explore";
import Analyse from "../components/features/Analyse";
---

<Layout title={m["features.title"]()}>
  <main>
    <section class="bg-white">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
          <h1
            class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"
          >
            {m["features.title"]()}
          </h1>
          <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
            {m["features.explore.subtitle"]()}
          </p>
          <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
            <div class="rounded-md shadow">
              <a
                href="#"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"
              >
                {m["features.startNow"]()}
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Explore client:load />
    <Analyse client:load />
  </main>
</Layout>
