---
interface Props {
  tabs: Tab[];
}

type Tab = {
  title: string;
  imageLink: string;
  contentTitle: string;
  text: string;
};

const { tabs } = Astro.props;
---

<div class="bg-[#FFF8F8] rounded-xl p-6 shadow-md"></div>
