---
import Button from './ui/Button.astro';

interface Props {
  title: string;
  description: string;
  miniCard: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<div class="lg:w-1/2 bg-[#fff7f8] rounded-[40px] p-6 md:p-12 lg:p-24 xl:p-32 relative">
  <h6
    class="text-[#0d0c22] text-2xl md:text-3xl lg:text-[40px] font-semibold font-['Urbanist'] tracking-wide mb-[18px]">
    {title}
  </h6>
  <p
    class="mb-10 text-[#0d0c22] lg:min-h-20 lg:max-h-20 text-base font-normal font-['Mulish'] leading-7 tracking-tight lg:mb-9 lg:text-base md:text-lg">
    {description}
  </p>
  <a href={link}> <Button text="Learn more" className="" type="fill" /></a>

  <div class="h-12"></div>
  <div
    class="absolute hidden sm:block scale-75 sm:right-0 lg:scale-75 xl:scale-100 lg:right-1/2 lg:translate-x-1/2 lg:bottom-0 -translate-y-1/4 lg:translate-y-1/2 h-fit w-fit p-6 bg-white rounded-xl shadow flex-col justify-center items-center gap-2 flex transition-transform duration-300 transform-gpu">
    <div><slot /></div>
  </div>
</div>
