---
import Button from "./ui/Button.astro";

interface Props {
  title: string;
  description: string;
  miniCard: string;
}

const { title, description } = Astro.props;
---

<div class="bg-[#fff7f8] rounded-[40px] p-6 md:p-12 lg:p-24 xl:p-32 relative">
  <h6
    class="text-[#0d0c22] text-2xl md:text-3xl lg:text-[40px] font-semibold font-['Urbanist'] tracking-wide mb-[18px]">
    {title}
  </h6>
  <p
    class="text-[#0d0c22] text-base md:text-lg lg:text-base font-normal font-['Mulish'] leading-7 tracking-tight mb-9">
    {description}
  </p>
  <a href="https://o0gkwgc.88.198.20.118.sslip.io/sign-up">
    <Button text="Learn more" type="fill" /></a
  >

  <div class="h-12"></div>
  <div
    class="absolute hidden sm:block scale-50 sm:right-0 sm:-translate-y-1/3 lg:scale-100 lg:right-1/2 lg:translate-x-1/2 h-fit w-fit p-6 bg-white rounded-xl shadow flex-col justify-center items-center gap-2 flex transition-transform duration-300 transform-gpu">
    <div><slot /></div>
  </div>
</div>
