---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../_index.css";
import { m } from "../../paraglide/messages.js";
import ContactUsForm from "../../components/react/ContactUsForm";

const countryCodes = [
  { code: "+60", flag: "my", name: m["contact.country.malaysia"]() },
  { code: "+65", flag: "sg", name: m["contact.country.singapore"]() },
  { code: "+81", flag: "jp", name: m["contact.country.japan"]() },
  { code: "+82", flag: "kr", name: m["contact.country.southKorea"]() },
  { code: "+93", flag: "af", name: m["contact.country.afghanistan"]() },
  { code: "+355", flag: "al", name: m["contact.country.albania"]() },
  { code: "+213", flag: "dz", name: m["contact.country.algeria"]() },
  { code: "+1-683", flag: "as", name: m["contact.country.americanSamoa"]() },
  { code: "+376", flag: "ad", name: m["contact.country.andorra"]() },
  { code: "+244", flag: "ao", name: m["contact.country.angola"]() },
  {
    code: "+1-267",
    flag: "ag",
    name: m["contact.country.antiguaAndBarbuda"](),
  },
  { code: "+54", flag: "ar", name: m["contact.country.argentina"]() },
  { code: "+374", flag: "am", name: m["contact.country.armenia"]() },
  { code: "+61", flag: "au", name: m["contact.country.australia"]() },
  { code: "+43", flag: "at", name: m["contact.country.austria"]() },
  { code: "+994", flag: "az", name: m["contact.country.azerbaijan"]() },
  { code: "+973", flag: "bh", name: m["contact.country.bahrain"]() },
  { code: "+880", flag: "bd", name: m["contact.country.bangladesh"]() },
  { code: "+1-245", flag: "bb", name: m["contact.country.barbados"]() },
  { code: "+375", flag: "by", name: m["contact.country.belarus"]() },
  { code: "+32", flag: "be", name: m["contact.country.belgium"]() },
  { code: "+501", flag: "bz", name: m["contact.country.belize"]() },
  { code: "+229", flag: "bj", name: m["contact.country.benin"]() },
  { code: "+1-440", flag: "bm", name: m["contact.country.bermuda"]() },
  { code: "+975", flag: "bt", name: m["contact.country.bhutan"]() },
  { code: "+591", flag: "bo", name: m["contact.country.bolivia"]() },
  {
    code: "+387",
    flag: "ba",
    name: m["contact.country.bosniaAndHerzegovina"](),
  },
  { code: "+267", flag: "bw", name: m["contact.country.botswana"]() },
  { code: "+55", flag: "br", name: m["contact.country.brazil"]() },
  {
    code: "+246",
    flag: "io",
    name: m["contact.country.britishIndianOceanTerritory"](),
  },
  { code: "+673", flag: "bn", name: m["contact.country.brunei"]() },
  { code: "+359", flag: "bg", name: m["contact.country.bulgaria"]() },
  { code: "+226", flag: "bf", name: m["contact.country.burkinaFaso"]() },
  { code: "+257", flag: "bi", name: m["contact.country.burundi"]() },
  { code: "+238", flag: "cv", name: m["contact.country.caboVerde"]() },
  { code: "+855", flag: "kh", name: m["contact.country.cambodia"]() },
  { code: "+237", flag: "cm", name: m["contact.country.cameroon"]() },
  { code: "+1", flag: "ca", name: m["contact.country.canada"]() },
  {
    code: "+236",
    flag: "cf",
    name: m["contact.country.centralAfricanRepublic"](),
  },
  { code: "+235", flag: "td", name: m["contact.country.chad"]() },
  {
    code: "+44-1490",
    flag: "gb",
    name: m["contact.country.channelIslands"](),
  },
  { code: "+56", flag: "cl", name: m["contact.country.chile"]() },
  { code: "+86", flag: "cn", name: m["contact.country.china"]() },
  { code: "+57", flag: "co", name: m["contact.country.colombia"]() },
  { code: "+269", flag: "km", name: m["contact.country.comoros"]() },
  { code: "+506", flag: "cr", name: m["contact.country.costaRica"]() },
  { code: "+385", flag: "hr", name: m["contact.country.croatia"]() },
  { code: "+53", flag: "cu", name: m["contact.country.cuba"]() },
  { code: "+357", flag: "cy", name: m["contact.country.cyprus"]() },
  { code: "+420", flag: "cz", name: m["contact.country.czechRepublic"]() },
  {
    code: "+243",
    flag: "cd",
    name: m["contact.country.democraticRepublicOfTheCongo"](),
  },
  { code: "+45", flag: "dk", name: m["contact.country.denmark"]() },
  { code: "+253", flag: "dj", name: m["contact.country.djibouti"]() },
  { code: "+1-766", flag: "dm", name: m["contact.country.dominica"]() },
  {
    code: "+1-808",
    flag: "do",
    name: m["contact.country.dominicanRepublic"](),
  },
  { code: "+670", flag: "tl", name: m["contact.country.eastTimor"]() },
  { code: "+593", flag: "ec", name: m["contact.country.ecuador"]() },
  { code: "+20", flag: "eg", name: m["contact.country.egypt"]() },
  { code: "+503", flag: "sv", name: m["contact.country.elSalvador"]() },
  { code: "+240", flag: "gq", name: m["contact.country.equatorialGuinea"]() },
  { code: "+291", flag: "er", name: m["contact.country.eritrea"]() },
  { code: "+372", flag: "ee", name: m["contact.country.estonia"]() },
  { code: "+268", flag: "sz", name: m["contact.country.eswatini"]() },
  { code: "+251", flag: "et", name: m["contact.country.ethiopia"]() },
  { code: "+500", flag: "fk", name: m["contact.country.falklandIslands"]() },
  {
    code: "+691",
    flag: "fm",
    name: m["contact.country.federatedStatesOfMicronesia"](),
  },
  { code: "+679", flag: "fj", name: m["contact.country.fiji"]() },
  { code: "+358", flag: "fi", name: m["contact.country.finland"]() },
  { code: "+33", flag: "fr", name: m["contact.country.france"]() },
  { code: "+241", flag: "ga", name: m["contact.country.gabon"]() },
  { code: "+995", flag: "ge", name: m["contact.country.georgia"]() },
  { code: "+49", flag: "de", name: m["contact.country.germany"]() },
  { code: "+233", flag: "gh", name: m["contact.country.ghana"]() },
  { code: "+350", flag: "gi", name: m["contact.country.gibraltar"]() },
  { code: "+30", flag: "gr", name: m["contact.country.greece"]() },
  { code: "+299", flag: "gl", name: m["contact.country.greenland"]() },
  { code: "+1-472", flag: "gd", name: m["contact.country.gd"]() },
  { code: "+1-670", flag: "gu", name: m["contact.country.guam"]() },
  { code: "+502", flag: "gt", name: m["contact.country.guatemala"]() },
  { code: "+224", flag: "gn", name: m["contact.country.guinea"]() },
  { code: "+245", flag: "gw", name: m["contact.country.guineaBissau"]() },
  { code: "+592", flag: "gy", name: m["contact.country.guyana"]() },
  { code: "+509", flag: "ht", name: m["contact.country.haiti"]() },
  { code: "+504", flag: "hn", name: m["contact.country.honduras"]() },
  { code: "+852", flag: "hk", name: m["contact.country.hongKong"]() },
  { code: "+36", flag: "hu", name: m["contact.country.hungary"]() },
  { code: "+354", flag: "is", name: m["contact.country.iceland"]() },
  { code: "+91", flag: "in", name: m["contact.country.india"]() },
  { code: "+62", flag: "id", name: m["contact.country.indonesia"]() },
  { code: "+98", flag: "ir", name: m["contact.country.iran"]() },
  { code: "+964", flag: "iq", name: m["contact.country.iraq"]() },
  { code: "+353", flag: "ie", name: m["contact.country.ireland"]() },
  { code: "+44-1580", flag: "im", name: m["contact.country.isleOfMan"]() },
  { code: "+972", flag: "il", name: m["contact.country.israel"]() },
  { code: "+39", flag: "it", name: m["contact.country.italy"]() },
  { code: "+225", flag: "ci", name: m["contact.country.ivoryCoast"]() },
  { code: "+1-875", flag: "jm", name: m["contact.country.jamaica"]() },
  { code: "+962", flag: "jo", name: m["contact.country.jordan"]() },
  { code: "+7", flag: "kz", name: m["contact.country.kazakhstan"]() },
  { code: "+254", flag: "ke", name: m["contact.country.kenya"]() },
  { code: "+686", flag: "ki", name: m["contact.country.kiribati"]() },
  { code: "+383", flag: "xk", name: m["contact.country.kosovo"]() },
  { code: "+965", flag: "kw", name: m["contact.country.kuwait"]() },
  { code: "+996", flag: "kg", name: m["contact.country.kyrgyzstan"]() },
  { code: "+856", flag: "la", name: m["contact.country.laos"]() },
  { code: "+371", flag: "lv", name: m["contact.country.latvia"]() },
  { code: "+961", flag: "lb", name: m["contact.country.lebanon"]() },
  { code: "+266", flag: "ls", name: m["contact.country.lesotho"]() },
  { code: "+231", flag: "lr", name: m["contact.country.liberia"]() },
  { code: "+218", flag: "ly", name: m["contact.country.libya"]() },
  { code: "+423", flag: "li", name: m["contact.country.liechtenstein"]() },
  { code: "+370", flag: "lt", name: m["contact.country.lithuania"]() },
  { code: "+352", flag: "lu", name: m["contact.country.luxembourg"]() },
  { code: "+853", flag: "mo", name: m["contact.country.macau"]() },
  { code: "+261", flag: "mg", name: m["contact.country.madagascar"]() },
  { code: "+265", flag: "mw", name: m["contact.country.malawi"]() },
  { code: "+960", flag: "mv", name: m["contact.country.maldives"]() },
  { code: "+223", flag: "ml", name: m["contact.country.mali"]() },
  { code: "+356", flag: "mt", name: m["contact.country.malta"]() },
  { code: "+692", flag: "mh", name: m["contact.country.marshallIslands"]() },
  { code: "+222", flag: "mr", name: m["contact.country.mauritania"]() },
  { code: "+230", flag: "mu", name: m["contact.country.mauritius"]() },
  { code: "+52", flag: "mx", name: m["contact.country.mexico"]() },
  { code: "+373", flag: "md", name: m["contact.country.moldova"]() },
  { code: "+377", flag: "mc", name: m["contact.country.monaco"]() },
  { code: "+976", flag: "mn", name: m["contact.country.mongolia"]() },
  { code: "+382", flag: "me", name: m["contact.country.montenegro"]() },
  { code: "+1-663", flag: "ms", name: m["contact.country.montserrat"]() },
  { code: "+212", flag: "ma", name: m["contact.country.morocco"]() },
  { code: "+258", flag: "mz", name: m["contact.country.mozambique"]() },
  { code: "+95", flag: "mm", name: m["contact.country.myanmar"]() },
  { code: "+264", flag: "na", name: m["contact.country.namibia"]() },
  { code: "+674", flag: "nr", name: m["contact.country.nauru"]() },
  { code: "+977", flag: "np", name: m["contact.country.nepal"]() },
  { code: "+31", flag: "nl", name: m["contact.country.netherlands"]() },
  { code: "+64", flag: "nz", name: m["contact.country.newZealand"]() },
  { code: "+505", flag: "ni", name: m["contact.country.nicaragua"]() },
  { code: "+227", flag: "ne", name: m["contact.country.niger"]() },
  { code: "+234", flag: "ng", name: m["contact.country.nigeria"]() },
  { code: "+850", flag: "kp", name: m["contact.country.northKorea"]() },
  { code: "+389", flag: "mk", name: m["contact.country.northMacedonia"]() },
  {
    code: "+1-669",
    flag: "mp",
    name: m["contact.country.northernMarianaIslands"](),
  },
  { code: "+47", flag: "no", name: m["contact.country.norway"]() },
  { code: "+968", flag: "om", name: m["contact.country.oman"]() },
  { code: "+92", flag: "pk", name: m["contact.country.pakistan"]() },
  { code: "+680", flag: "pw", name: m["contact.country.palau"]() },
  { code: "+507", flag: "pa", name: m["contact.country.panama"]() },
  { code: "+675", flag: "pg", name: m["contact.country.papuaNewGuinea"]() },
  { code: "+595", flag: "py", name: m["contact.country.paraguay"]() },
  { code: "+51", flag: "pe", name: m["contact.country.peru"]() },
  { code: "+63", flag: "ph", name: m["contact.country.philippines"]() },
  { code: "+64", flag: "pn", name: m["contact.country.pitcairnIslands"]() },
  { code: "+48", flag: "pl", name: m["contact.country.poland"]() },
  { code: "+351", flag: "pt", name: m["contact.country.portugal"]() },
  { code: "+1-786", flag: "pr", name: m["contact.country.puertoRico"]() },
  { code: "+974", flag: "qa", name: m["contact.country.qatar"]() },
  {
    code: "+242",
    flag: "cg",
    name: m["contact.country.republicOfTheCongo"](),
  },
  { code: "+40", flag: "ro", name: m["contact.country.romania"]() },
  { code: "+7", flag: "ru", name: m["contact.country.russia"]() },
  { code: "+250", flag: "rw", name: m["contact.country.rwanda"]() },
  { code: "+290", flag: "sh", name: m["contact.country.saintHelena"]() },
  {
    code: "+1-868",
    flag: "kn",
    name: m["contact.country.saintKittsAndNevis"](),
  },
  { code: "+1-757", flag: "lc", name: m["contact.country.saintLucia"]() },
  {
    code: "+508",
    flag: "pm",
    name: m["contact.country.saintPierreAndMiquelon"](),
  },
  {
    code: "+1-783",
    flag: "vc",
    name: m["contact.country.saintVincentAndTheGrenadines"](),
  },
  { code: "+685", flag: "ws", name: m["contact.country.samoa"]() },
  { code: "+378", flag: "sm", name: m["contact.country.sanMarino"]() },
  {
    code: "+239",
    flag: "st",
    name: m["contact.country.saoTomeAndPrincipe"](),
  },
  { code: "+966", flag: "sa", name: m["contact.country.saudiArabia"]() },
  { code: "+221", flag: "sn", name: m["contact.country.senegal"]() },
  { code: "+381", flag: "rs", name: m["contact.country.serbia"]() },
  { code: "+248", flag: "sc", name: m["contact.country.seychelles"]() },
  { code: "+232", flag: "sl", name: m["contact.country.sierraLeone"]() },
  { code: "+421", flag: "sk", name: m["contact.country.slovakia"]() },
  { code: "+386", flag: "si", name: m["contact.country.slovenia"]() },
  { code: "+677", flag: "sb", name: m["contact.country.solomonIslands"]() },
  { code: "+252", flag: "so", name: m["contact.country.somalia"]() },
  { code: "+27", flag: "za", name: m["contact.country.southAfrica"]() },
  { code: "+211", flag: "ss", name: m["contact.country.southSudan"]() },
  { code: "+34", flag: "es", name: m["contact.country.spain"]() },
  { code: "+94", flag: "lk", name: m["contact.country.sriLanka"]() },
  { code: "+249", flag: "sd", name: m["contact.country.sudan"]() },
  { code: "+597", flag: "sr", name: m["contact.country.suriname"]() },
  { code: "+46", flag: "se", name: m["contact.country.sweden"]() },
  { code: "+41", flag: "ch", name: m["contact.country.switzerland"]() },
  { code: "+963", flag: "sy", name: m["contact.country.syria"]() },
  { code: "+886", flag: "tw", name: m["contact.country.taiwan"]() },
  { code: "+992", flag: "tj", name: m["contact.country.tajikistan"]() },
  { code: "+255", flag: "tz", name: m["contact.country.tanzania"]() },
  { code: "+66", flag: "th", name: m["contact.country.thailand"]() },
  { code: "+1-241", flag: "bs", name: m["contact.country.theBahamas"]() },
  { code: "+220", flag: "gm", name: m["contact.country.theGambia"]() },
  { code: "+228", flag: "tg", name: m["contact.country.togo"]() },
  { code: "+690", flag: "tk", name: m["contact.country.tokelau"]() },
  { code: "+676", flag: "to", name: m["contact.country.tonga"]() },
  {
    code: "+1-867",
    flag: "tt",
    name: m["contact.country.trinidadAndTobago"](),
  },
  { code: "+216", flag: "tn", name: m["contact.country.tunisia"]() },
  { code: "+90", flag: "tr", name: m["contact.country.turkiye"]() },
  { code: "+993", flag: "tm", name: m["contact.country.turkmenistan"]() },
  { code: "+688", flag: "tv", name: m["contact.country.tuvalu"]() },
  { code: "+256", flag: "ug", name: m["contact.country.uganda"]() },
  { code: "+380", flag: "ua", name: m["contact.country.ukraine"]() },
  {
    code: "+971",
    flag: "ae",
    name: m["contact.country.unitedArabEmirates"](),
  },
  { code: "+44", flag: "gb", name: m["contact.country.unitedKingdom"]() },
  { code: "+1", flag: "us", name: m["contact.country.unitedStates"]() },
  { code: "+598", flag: "uy", name: m["contact.country.uruguay"]() },
  { code: "+998", flag: "uz", name: m["contact.country.uzbekistan"]() },
  { code: "+678", flag: "vu", name: m["contact.country.vanuatu"]() },
  { code: "+379", flag: "va", name: m["contact.country.vaticanCity"]() },
  { code: "+58", flag: "ve", name: m["contact.country.venezuela"]() },
  { code: "+84", flag: "vn", name: m["contact.country.vietnam"]() },
  { code: "+1-339", flag: "vi", name: m["contact.country.virginIslands"]() },
  { code: "+967", flag: "ye", name: m["contact.country.yemen"]() },
  { code: "+260", flag: "zm", name: m["contact.country.zambia"]() },
  { code: "+263", flag: "zw", name: m["contact.country.zimbabwe"]() },
];
---

<script async src="https://www.googletagmanager.com/gtag/js?id=G-L8PJ5LGG3Z"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(...args: any[]) {
    window.dataLayer.push(args);
  }

  gtag("js", new Date());
  gtag("config", "G-L8PJ5LGG3Z");
</script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    const cards = document.querySelectorAll(".animate-appear");
    cards.forEach((card) => observer.observe(card));
  });
</script>

<Layout title="Ionkol | Contact Us">
  <Navbar />
  <main class="relative">
    <section class="mt-40 pb-32 px-4 lg:px-12">
      <div class="flex flex-col items-center text-center gap-8">
        <span class="text-[62px] font-semibold">{m["contact.title"]()}</span>
        <div class="flex flex-row gap-2 text-xl">
          <span>{m["contact.subtitle.part1"]()}</span>
        </div>

        <ContactUsForm countries={countryCodes} client:load />
      </div>
    </section>
  </main>
</Layout>
<Footer />
