---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import { Image } from "astro:assets";
import Button from "../../components/ui/Button.astro";
import ExploreInfoCard from "../../components/react/ExploreInfoCard.tsx";
import {
  filterTabImage,
  searchTabImage,
  saveTabImage,
  engagementTabImage,
  parametersTabImage,
} from "../../constants/htmlStrings";
import "../_index.css";

const exploreTabsData = [
  {
    title: "Filter",
    visualContent: filterTabImage,
    text: "Refine your search by applying advanced filters tailored to your needs.",
  },
  {
    title: "Search",
    visualContent: searchTabImage,
    text: "Use keywords to pinpoint influencers matching your goals.",
  },
  {
    title: "Save",
    visualContent: saveTabImage,
    text: "Organize your selected creators into custom lists for easy access.",
  },
];

const analyzeTabsData = [
  {
    title: "Parameters",
    visualContent: parametersTabImage,
    text: "Discover the essence of your audience with advanced analytics: explore follower demographics from location to age and more, to craft bespoke campaigns.",
  },
  {
    title: "Engagement",
    visualContent: engagementTabImage,
    text: "Elevate your influencer evaluation with engagement insights: measure interaction rates, and ensure every creator delivers genuine, impactful engagement.",
  },
];
---

<!-- Sections appear animation -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    const cards = document.querySelectorAll(".animate-appear");
    cards.forEach((card) => observer.observe(card));
  });
</script>

<Layout title={"iON"}>
  <Navbar />

  <!-- Introduction section -->
  <div
    class="lg:w-[90%] mt-44 mx-auto flex flex-col lg:flex-row justify-center items-center gap-8"
  >
    <div class="w-1/2 flex flex-row-reverse items-right">
      <Image
        src="/explore-intro-image.svg"
        alt="intro-image"
        width={432}
        height={432}
      />
    </div>
    <div class="flex flex-col justify-between gap-2 w-1/2">
      <p class="text-[27px] text-[#0D0C22] font-medium">IONKOL</p>
      <p class="text-[54px] text-[#EE7380] font-extrabold">Explore</p>
      <p class="text-lg mb-4 text-left lg:w-[75%]">
        Track your own data to see where you are doing well and where you have
        more potential for growth. Access all our metrics to see where you stand
        and understand how you can grow.
      </p>
      <a class="mx-auto lg:mx-0" href="https://app.ionkol.com/sign-up">
        <Button text="Start now" /></a
      >
    </div>
  </div>

  <!-- Main section title -->
  <div
    class="w-[85%] mt-60 mx-auto flex flex-col gap-2 items-center justify-center animate-appear"
  >
    <p class="text-[#0D0C22] text-[32px] text-center">
      Explore new and emerging creators to partner with your brand in 3 easy
      steps
    </p>
    <p class="text-[#71717A] text-lg text-center">
      Transform your marketing with effortless access to over <span
        class="font-semibold text-black">(x)</span
      > creators across <span class="font-semibold text-black">(x)</span> countries.
      Discover, connect, and elevate your brand with our unparalleled database. Discover
      creators who inspire and engage. Apply over <span
        class="font-semibold text-black">(x)</span
      > customizable filters to find the perfect fit for your brand in seconds.
    </p>
  </div>

  <!-- Main section -->
  <div
    class="flex flex-col lg:flex-row w-[93%] mx-auto mt-10 gap-6 animate-appear"
  >
    <div class="lg:w-1/2">
      <p class="text-[32px] text-[#0D0C22] font-medium">ION Explore</p>
      <ExploreInfoCard client:load tabs={exploreTabsData} />
    </div>
    <div class="lg:w-1/2">
      <p class="text-[32px] text-[#0D0C22] font-medium">ION Analyze</p>
      <ExploreInfoCard client:load tabs={analyzeTabsData} />
    </div>
  </div>

  <!-- Contact us section -->
  <div class="flex flex-col lg:flex-row mt-20 gap-6 mb-40 animate-appear">
    <div class="w-1/2 relative h-96 hidden lg:block">
      <div
        class="rotate-[2.94deg] scale-50 md:scale-75 lg:scale-100 absolute top-16 right-28 -translate-y-1/4 h-fit w-fit p-6 bg-white rounded-xl flex-col justify-center items-center gap-2 flex"
        style={{
          "box-shadow": "0px 4px 16px 0px rgba(203, 186, 176, 0.25)",
        }}
      >
        <Image src="/Bars.svg" alt="bars" width={198} height={128} />
        <p
          class="font-inter text-[14px] font-normal leading-[26px] tracking-[0.002em] text-left"
        >
          Statistics
        </p>
      </div>
      <div
        class="hidden scale-50 md:scale-75 lg:scale-100 absolute top-[-2rem] left-[6rem] translate-x-1/2 translate-y-1/2 -rotate-[7.88deg] h-[110px] w-[110px] p-6 bg-white rounded-xl flex-col justify-center items-center gap-2 custom-lg:flex"
        style={{
          "box-shadow": "0px 4px 16px 0px rgba(203, 186, 176, 0.25)",
        }}
      >
        <p
          class="font-inter text-[16px] text-[#F87217] font-normal leading-[24px] tracking-[0.002em] text-center"
        >
          8.22k
        </p>
        <p
          class="font-open-sans text-[12px] font-normal leading-[16px] tracking-[0.002em] text-center"
        >
          Eng.
        </p>Followers
      </div>
      <div
        class="hidden custom-lg:block scale-50 md:scale-75 lg:scale-100 absolute bottom-[7rem] left-[9rem] translate-y-1/3 translate-x-1/4 rotate-[4.33deg] h-[138px] w-[211px] p-6 bg-white rounded-xl flex-col justify-center items-start gap-2 flex"
        style={{
          "box-shadow": "0px 4px 16px 0px rgba(203, 186, 176, 0.25)",
        }}
      >
        <div class="flex items-center gap-2">
          <Image
            src="/girl-placeholder-2.png"
            alt="girl"
            width={32}
            height={32}
          />
          <div
            class="font-inter text-[14px] font-medium leading-[26px] tracking-[0.002em] text-left"
          >
            Mikki Adams
          </div>
        </div>
        <div class="flex items-center gap-2 mb-2">
          <Image
            src="/girl-placeholder-3.png"
            alt="girl"
            width={32}
            height={32}
          />
          <div
            class="font-inter text-[14px] font-medium leading-[26px] tracking-[0.002em] text-left"
          >
            Jakie Town
          </div>
        </div>
        <div
          class="font-inter mx-auto text-[14px] font-normal leading-[26px] tracking-[0.002em] text-center"
        >
          Influencers
        </div>
      </div>
      <div
        class="scale-50 md:scale-75 lg:scale-100 absolute bottom-[-2rem] right-0 translate-y-1/4 -translate-x-1/4 rotate-[-7.81deg] h-fit w-fit p-6 bg-white rounded-xl justify-center items-center gap-2 md:flex"
        style={{
          "box-shadow": "0px 4px 16px 0px rgba(203, 186, 176, 0.25)",
        }}
      >
        <Image src="/3-girls.png" alt="girls" width={80} height={34} />
        <div>
          <span>Liked by</span>
          <span class="font-medium">ann_sunny</span>
          <span>and</span>
          <span class="font-medium">7 888 others</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center lg:w-1/2 p-6">
      <div class="max-w-[654px]">
        <h1
          class="text-center lg:text-left text-[#EE7380] text-5xl font-extrabold tracking-wide mb-4"
        >
          Contact us
        </h1>
        <p
          class="text-center lg:text-left text-[#0d0c22] text-base font-medium leading-7 tracking-tight mb-9"
        >
          We're here to help! IonKol is launching soon with powerful tools to
          enhance your influencer marketing strategy. Contact us today to
          explore how IonKol can support to achieve your goals.
        </p>
        <form class="flex gap-3" action="/subscribe" method="POST">
          <input
            type="email"
            name="email"
            placeholder="Email address"
            aria-label="Email address"
            required
            class="flex-1 h-10 px-4 py-2 bg-white rounded-lg border border-[#ffdede] text-base font-medium leading-normal tracking-wide"
          />
          <Button text="Learn more" />
        </form>
      </div>
    </div>
  </div>
</Layout>
<Footer />
