---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../_index.css";
import AdditionalProvisionPage from "../../components/react/terms/AdditionalProvisionPage";
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    const cards = document.querySelectorAll(".animate-appear");
    cards.forEach((card) => observer.observe(card));
  });
</script>


<Layout title="Ionkol | Additional Provision Privacy Policy">
  <Navbar />
  <main class="relative">    
    <section class="mt-40 pb-32 px-4 lg:px-12 relative">      
      <AdditionalProvisionPage client:load />
    </section>
  </main>
</Layout>
<Footer />
