---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../_index.css";
import TermsPage from "../../components/react/terms/TermsPage.tsx";
---

<script async src="https://www.googletagmanager.com/gtag/js?id=G-37DFWNFM8J"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(...args: any[]) {
    window.dataLayer.push(args);
  }

  gtag("js", new Date());
  gtag("config", "G-37DFWNFM8J");
</script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    const cards = document.querySelectorAll(".animate-appear");
    cards.forEach((card) => observer.observe(card));
  });
</script>

<Layout title="Ionkol | Terms of Service">
  <Navbar />
  <main class="relative">
    <section class="mt-40 pb-32 px-4 lg:px-12 relative">
      <TermsPage client:load />
    </section>
  </main>
</Layout>
<Footer />
