---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="All-in-one social media analytics tool for businesses. Explore. Analyze. Discover new opportunities."/>
    <meta name="viewport" content="width=device-width" />

    <!-- Open graph -->
    <meta property="og:title" content="Try IONKOL" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ionkol.com" />
    <meta
      property="og:image"
      content="https://ogcdn.net/c078a98b-9a33-4eaf-a5cf-e5ebf3ea450c/v1/ionkol.com/Try%20IONKOL/All%20in%20on%20social%20media%20analyzing%20tool.%20Explore.%20Analyze.%20Discover./https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F6ed83272-481d-4995-b153-d67fc4178a79.jpg%3Ftoken%3DtwDZR917y1AXgHHL5lLzjazaRVELUmkHF8Wms9iyIzc%26height%3D1094%26width%3D1200%26expires%3D33263105997/og.png"
    />
    <meta
      property="og:description"
      content="All in on social media analyzing tool. Explore. Analyze. Discover."
    />
    <meta property="og:site_name" content="IONKOL" />
    <meta property="og:locale" content="en_US" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/favicon.ico" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
</html>
