---
interface CircleProps {
  backgroundColor: string;
}

const { backgroundColor } = Astro.props as CircleProps;
---

<div
  class={`opacity-0 lg:opacity-100 absolute z-0 w-[100px] h-[100px] lg:w-[405px] lg:h-[405px] ${backgroundColor} rounded-full top-[55%] right-[10%] lg:-top-[16%] left-[65%] flex justify-center items-center`}>
    <slot />
</div>
