---
---
<style>
  .animated-box {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animated-slides {
    transform: translateY(-25%);
    animation: textFade 4s infinite;
  }

  @keyframes textFade {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    20% {
      opacity: 0;
      transform: translateY(-15%);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(15%);
    }
  }
</style>

<div class="animated-box h-20 lg:h-[450px]">
    <img class="animated-slides" src="/sliderIcon1.svg" alt="SliderIcon"  />
</div>

<script>
  const images = ["/sliderIcon1.svg", "/sliderIcon2.svg", "/sliderIcon3.svg", "/sliderIcon4.svg", ""];
  let index = 0;
  const container: any = document.querySelector(".animated-slides");

  if (container) {
    setInterval(() => {
      index = (index + 1) % images.length;
      const slide = images[index];
      if (!container) return;
      if(slide === "") {
        container.style.display = "none";
        return;
      } else {
        container.style.display = "block";
      }
      container.src = slide;
    }, 4000);
  }

</script>