---
import { Image } from "astro:assets";
import { m } from "../../paraglide/messages.js";
import ImageAnimation from "./ImageAnimation.astro";

const titles = [m["main.explore"](), m["main.analyse"](), "AI"];
---

<style>
  .animated-box-text {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animated-slides-text {
    transform: translateY(-25%);
    animation: textFade 4s infinite;
  }

  @keyframes textFade {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    20% {
      opacity: 0;
      transform: translateY(-15%);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(15%);
    }
  }
</style>

<div
  class="flex flex-col relative items-center mt-10 justify-center z-10 text-center"
>
  <p
    class="text-[#0d0c22] text-lg font-medium mb-20 lg:mb-0 tracking-tight lg:text-2xl"
  >
    {m["main.aiPlatform"]()}
  </p>
  <div
    class={`text-[#EE7380] text-[75px] md:text-[100px] flex flex-col mb-4 gap-6 lg:ml-64 lg:flex-row items-center justify-center font-semibold tracking-[2.6px] lg:text-[130px]`}
  >
    <Image
      class="max-h-[80px] sm:max-h-full"
      src="/ion.svg"
      alt="key"
      width={240}
      height={50}
    />

    <div class="animated-box-text h-[200px] lg:h-[250px]">
      <div class="flex flex-row items-center">
        <div class="w-fit lg:min-w-[500px]">
          <div class="w-full flex justify-center lg:justify-normal">
            <img
              class="animated-slides-text max-h-[80px] md:max-h-full"
              alt="SliderText"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="font-normal tracking-wide mb-8 text-[42px]">
    {m["main.dataDriverSuccess"]()}
  </p>
  <a href="https://app.ionkol.com/en/signup">
    <button
      class="h-10 px-10 py-2 bg-[#EE7380] rounded-3xl text-white text-base font-medium leading-normal tracking-wide hover:bg-[#1a1a2e] active:bg-[#33334d] transition-colors duration-300"
    >
      {m["main.startNow"]()}
    </button>
  </a>
</div>

<script>
  const images = [
    "/Explore.svg",
    "/Analyse.svg",
    "/AI.svg",
    "/Link.svg",
    "/Kol.svg",
  ];
  const margins = ["mt-[36px]", "mt-[26px]", "mt-0", "-mt-2"];
  let index = 0;
  const container: any = document.querySelector(".animated-slides-text");

  if (container) {
    container.src = images[index];
    container.classList.add(margins[index]);

    setInterval(() => {
      container.classList.remove(margins[index]);

      index = (index + 1) % images.length;
      const slide = images[index];
      const marginClass = margins[index];

      container.src = slide;
      container.classList.add(marginClass);
    }, 4000);
  }
</script>
