---
interface Props {
  type?: "fill" | "outline";
  className?: string;
  text?: string;
}

const { type = "fill", className = "", text = "" } = Astro.props;

const baseButtonStyle =
  "h-[40px] px-10 rounded-3xl justify-center items-center gap-4 inline-flex text-center transition-colors duration-300 whitespace-nowrap";

let buttonStyle = baseButtonStyle + " " + className;

if (type === "fill") {
  buttonStyle +=
    " bg-[#EE7380] text-white justify-start hover:bg-[#d55e6b] active:bg-[#bb4d58]";
}

if (type === "outline") {
  buttonStyle +=
    " border border-[#EE7380] text-[#EE7380] hover:bg-[#EE7380] hover:text-white active:bg-[#d55e6b] active:border-[#d55e6b]";
}
---

<button class={buttonStyle}>
  {text}
</button>
